@SET SERVER_IP={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} 
@SET NETIF={{ hostvars[inventory_hostname]['ansible_default_ipv4']['interface'] }}

[SERVICE]
    flush                     1 
    deamon                    off 
    log_level                 info
    parsers_file              parsers.conf
    plugins_file              plugins.conf

[INPUT]
    name              tail
    path              /host/var/log/postgresql/postgresql-10-main.log
    tag               postgresql
    read_from_head    true
    Multiline         on
    Multiline_Flush   5
    Parser_Firstline  postgresql-firstline
    Mem_Buf_Limit     20MB 
    DB                /host/var/log/postgresql_log.db

[FILTER]
    Name parser
    Match postgresql
    Key_Name log
    Parser pgaudit

[FILTER]
    Name parser
    Match postgresql
    Key_Name log
    Parser postgreslog

[OUTPUT]
    name stdout
    match *

